@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Index";
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}

<h2>invoked on button click from main controller</h2>

@section SideBar
{
    <ul>
    <li>Item 1 from View2</li>
    <li>Item 2 from View2</li>
    <li>Item 3 from View2</li>
</ul>
}